.product {
  display: flex;
  border-bottom: 1px solid lightgray;
  padding: 10px;
  margin: 10px;
}

.productName {
  margin-left: 40px;
}
.productName h4 {
  color: blue;
  font-weight: 400;
}
.addCart {
  background-color: goldenrod;
  padding: 10px 25px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
